{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vemos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tel</th>
                <th>Cargo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vemo in vemos %}
            <tr>
                <td><a href="{{ path('vemos_show', { 'id': vemo.id }) }}">{{ vemo.id }}</a></td>
                <td>{{ vemo.nombre }}</td>
                <td>{{ vemo.apellido }}</td>
                <td>{{ vemo.tel }}</td>
                <td>{{ vemo.cargo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vemos_show', { 'id': vemo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vemos_edit', { 'id': vemo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vemos_new') }}">Create a new vemo</a>
        </li>
    </ul>
{% endblock %}
